{% extends "index.html" %}
{% block title %}Jake Alstad - Python &amp; Django web developer | Résumé{% endblock %}
{% block content %}
<div class="container mx-auto mt-10 w-3/4 text-left font-raleway">
	<h1 class="text-3xl mb-3">
		<a class="text-gray-500" href="/">Jake Alstad</a>
	</h1>

<div class="my-5">
	<a class="text-gray-500" href="mailto:jake@jalstad.com">jake@jalstad.com</a> | <a class="text-gray-500" href="https://github.com/jakealstad">https://github.com/jakealstad</a>
</div>

<hr class="border-gray-400 mb-2"/>

<h1 class="text-2xl mb-5">SUMMARY</h1>
<p class="mb-5">I’ve been doing web development ever since I learned to tweak HTML for my Myspace profile back in the day. That early curiosity grew into a full-blown career, and I’ve been fortunate to work in a wide range of roles since then. From radio to gaming to real estate, I’ve had the chance to be a full-stack, 'Jack of all trades' developer, tackling unique challenges in each industry. My focus is Python (mostly Django) and Javascript (most recently, Vue).</p>

<p class="mb-5">When I’m not coding, I’m likely toying with synthesizers, watching horror movies, and hanging out with my two cats. I live in the beautiful northwoods of Wisconsin.</p>


<h1 class="text-2xl mb-5">SKILLS</h1>
<ul class="list-disc [&_ul]:list-[revert] pl-10">
	<li>
		Languages & Frameworks I Enjoy
		<ul class="pl-10 py-2">
			<li>Python (Django, Django REST Framework, Flask, Wagtail)</li>
			<li>JavaScript (Vue.js, Node.js, Jest, Vite, Vitest, etc.)</li>
		</ul>
	</li>
</ul>
<ul class="list-disc [&_ul]:list-[revert] pl-10">
	<li>
		Stuff I Use All the Time
		<ul class="pl-10 py-2">
	    	<li>AWS (Lambda, API Gateway, Redshift, EC2, etc.)</li>
	    	<li>Docker (I love using containers for dev and production!)</li>
	    	<li>CI/CD (GitLab, GitHub, Terraform)</li>
	    </ul>
	</li>
</ul>
<ul class="list-disc [&_ul]:list-[revert] pl-10">
	<li>
		Databases & Queues
		<ul class="pl-10 py-2">
	    	<li>PostgreSQL (my go-to for relational data)</li>
	    	<li>Redis & Memcached (keeping things fast)</li>
	    	<li>RabbitMQ & Celery (for all those background jobs)</li>
	    </ul>
	</li>
</ul>
<ul class="list-disc [&_ul]:list-[revert] pl-10">
	<li>
		Frontend & Tools
		<ul class="pl-10 py-2">
	    	<li>HTML, CSS, SCSS, and Photoshop, Illustrator, etc.</li>
	    </ul>
	</li>
</ul>

<h1 class="text-2xl mb-5">EXPERIENCE</h1>
<strong>Web Developer, Lauterbach Legal LLC</strong> | Mar 2024 - Oct 2024

<p class="my-3">Web Development (Python, Django, and Vue) for a document generation application.</p>

<strong>Accomplishments</strong>

<ul class="list-disc [&_ul]:list-[revert] pl-10 my-3">
	<li>Helped streamline the development process using docker locally.</li>
	<li>Added new features and fixed bugs across the application.</li>
</ul>

<hr class="border-gray-400 mb-2"/>

<strong>Senior Web Developer, LISNR</strong> | Mar 2021 - June 2023

<p class="my-3">Python & Django development for internal services.</p>

<strong>Accomplishments</strong>

<ul class="list-disc [&_ul]:list-[revert] pl-10 my-3">
	<li>
		Developed several Node.js microservices for internal business processes.
		<ul class="pl-10">
			<li>These microservices leverage Terraform and AWS for infrastrucure management, and fast, reliable deployments.</li>
		</ul>
	</li>
	<li>
		Maintained and updated other Node.js and Python/Django projects.
		<ul class="pl-10">
			<li>Security updates, dependency updates, and additonal features were built.</li>
		</ul>
	</li>
</ul>

<hr class="border-gray-400 mb-2"/>

<strong>Application Development Business Analyst, Hines</strong> | Houston, TX — March 2018 - April 2020

<p class="my-3">Python & Django development for internal customer applications.</p>

<strong>Accomplishments</strong>

<ul class="list-disc [&_ul]:list-[revert] pl-10 my-3">
	<li>
		Developed and supported internal expense reporting application written in Python (Django).
		<ul class="pl-10">
			<li>Worked closely with accounting teams to produce J.D. Edwards-compatible output.</li>
		</ul>
	</li>
	<li>
		Developed and supported building tenant portal using Wagtail.
		<ul class="pl-10">
			<li>The app allows building tenants to receive various offers and discounts from local vendors.</li>
		</ul>
	</li>
	<li>
		Assisted with server configuration and application deployments.
		<ul class="pl-10">
			<li>Deployed several different applications on a regular basis using Git and other standard unix packages.</li>
		</ul>
	</li>
</ul>

<hr class="border-gray-400 mb-2"/>

<strong>Python Developer, Six Foot LLC</strong> | Houston, TX — Sept. 2016 - Jan. 2018

<p class="my-3">Python & Django development on the platform team building various microservices to support video games and related projects. I was responsible for backend development tasks and bug fixes.</p>

<strong>Accomplishments</strong>

<ul class="list-disc [&_ul]:list-[revert] pl-10 my-3">
	<li>Built Django/Wagtail application for <a class="text-gray-500" href="https://en.wikipedia.org/wiki/Rime_(video_game)">Rime</a>.</li>
	<li>Implemented anti-spam solution for several videogame-related forums.</li>
	<li>Implemented <a class="text-gray-500" href="https://dev.twitch.tv/drops">Twitch Drops</a> marketing support for our games.</li>
</ul>

<hr class="border-gray-400 mb-2"/>

<strong>Web Developer, Z4 Poker</strong> | Las Vegas, NV — Oct. 2014 - Sept. 2016

<p class="my-3">Python & Django development for an online poker startup.</p>

<strong>Accomplishments</strong>

<ul class="list-disc [&_ul]:list-[revert] pl-10 my-3">
	<li>Developed and maintained Python/Django applications.</li>
	<li>Built javascript-based admin tools for <a class="text-gray-500" href="https://www.facebook.com/hdpoker/">HDPoker</a>.</li>
	<li>Maintained intranet accounting software for Z4 Poker and <a class="text-gray-500" href="http://www.gamingarts.com/">Gaming Arts</a>.</li>
	<li>Completed various design & development projects.</li>
</ul>

<hr class="border-gray-400 mb-2"/>

<strong>Web Developer/Designer, Midwest Communications Inc.</strong> | Wausau, WI — 2011 - 2014

<p class="my-3">Python & Django development with a small team of developers and designers to write and maintain applications for a radiocentric project. I managed several application, database, and media servers as well as handling deployment for the project.</p>

<strong>Accomplishments</strong>

<ul class="list-disc [&_ul]:list-[revert] pl-10 my-3">
	<li>Design and markup efforts contributed to success of numerous radio promotions.</li>
	<li>Participated in award-winning radio promotions.</li>
	<li>Worked on several contests resulting in a high participation rate.</li>
</ul>
{% endblock %}